.animated {
  animation-duration: 400ms;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  to { opacity: 0; }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes cardZoomIn {
  from {
    filter: blur(2px)
    transform: scale3d(.96, .96, .96) translateY(5px)
  }
}

.cardZoomIn {
  animation-name: cardZoomIn
}


@keyframes shake {
  0%, 100% { transform: translate3d(2px, 0, 0) rotate(0.5deg) }
  50% { transform: translate3d(-2px, 0, 0) rotate(-0.5deg) }
}

.shake {
  animation-name: shake
  animation-iteration-count: 7
}

@keyframes flush {
  0% { transform: scale(1) }
  100% { transform: scale(0) }
}

.flush {
  animation-name: flush
}

@keyframes wavesPictureAnim1
  0%, 9.9%
    transform: translate3d(0,0,0)
  10%, 19.9%
    transform: translate3d(-2px,0,0)
  20%, 29.9%
    transform: translate3d(0,0,0)
  30%, 39.9%
    transform: translate3d(2px,0,0)
  40%, 100%
    transform: translate3d(0,0,0)

@keyframes wavesPictureAnim2
  0%, 9.9%
    transform: translate3d(0,0,0)
  10%, 19.9%
    transform: translate3d(2px,0,0)
  20%, 29.9%
    transform: translate3d(1px,0,0)
  30%, 39.9%
    transform: translate3d(-2px,0,0)
  40%, 100%
    transform: translate3d(0,0,0)

@keyframes wavesPictureAnim3
  0%
    clip: rect(234px, 235px, 244px, 0px)
  5%
    clip: rect(58px, 235px, 68px, 0px)
  10%
    left: -5px
    clip: rect(65px, 235px, 75px, 0px)
  15%
    left: 0
    clip: rect(188px, 235px, 198px, 0px)
  20%
    left: -7px
    clip: rect(126px, 235px, 136px, 0px)
  25%
    left: 4px
    clip: rect(184px, 235px, 194px, 0px)
  30%
    left: 1px
    clip: rect(180px, 235px, 190px, 0px)
  35%
    left: 4px
    clip: rect(101px, 235px, 111px, 0px)
  40%, 100%
    left: 0
    clip: rect(0, 0, 0, 0)

@keyframes wavesPictureAnim4
  0%
    clip: rect(23px, 235px, 33px, 0px)
  5%
    clip: rect(224px, 235px, 234px, 0px)
  10%
    left: -1px
    clip: rect(192px, 235px, 202px, 0px)
  15%
    left: 8px
    clip: rect(84px, 235px, 94px, 0px)
  20%
    left: -10px
    clip: rect(154px, 235px, 164px, 0px)
  25%
    left: -3px
    clip: rect(50px, 235px, 60px, 0px)
  30%
    left: -5px
    clip: rect(218px, 235px, 228px, 0px)
  35%
    left: 2px
    clip: rect(185px, 235px, 195px, 0px)
  40%, 100%
    left: 0
    clip: rect(0, 0, 0, 0)
