@import 'mq'
@import 'functions'
@import 'keyframes'

@import url('https://fonts.googleapis.com/css?family=Roboto:900')

colors = {
  main: #0055ff,
  correct: #8dd254,
  incorrect: #df4d6b,
}

.waves
  position: relative
  z-index: 99
  width: 1080px
  max-width: 100%
  padding: 0 10px 40px
  font-family: Roboto, sans-serif
  font-size: 16px
  line-height: normal
  text-size-adjust: 100%
  background-color: #fff
  overflow: hidden

  @media $mq.iphone6
    padding-bottom: 50px

  ^[0].is-not-feed &
    @media $mq.desktop
      min-height: 610px
      padding: 0

  &.is-result
    min-height: auto
    padding: 0

  & *
  & *:before
  & *:after
    box-sizing: border-box

  svg
    display block
    fill currentColor
    pointer-events none

  & b
    font-weight: 700

  & button
    font-family: inherit
    font-size: inherit
    user-select: none
    outline: none
    appearance: none
    cursor: pointer

  &-enter
    position: relative
    padding: 60px 5px 0

    @media $mq.notMobile
      padding: 90px 0 0 25px

    ^[0].is-not-feed &
      @media $mq.desktop
        padding: 90px 0 0 70px

    &__logo
      position: absolute
      top: 20px
      right: 5px
      width: 125px
      height: 26px

      & > svg
        width: 100%
        height: 100%

      @media $mq.notMobile
        top: 30px
        right: 20px

    &__img
      position: absolute
      bottom: 20px
      left: 200px
      width: 100px
      height: 154px

      & > svg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

        &:nth-child(1)
          fill: blue
          animation: wavesPictureAnim1 4.5s infinite

        &:nth-child(2)
          fill: red
          animation: wavesPictureAnim2 4.3s .2s infinite

        &:nth-child(3)
          fill: red
          clip: rect(0, 0, 0, 0)
          animation: wavesPictureAnim3 4.5s steps(1) infinite

        &:nth-child(4)
          fill: blue
          clip: rect(0, 0, 0, 0)
          animation: wavesPictureAnim4 4.3s .2s steps(1) infinite

      @media $mq.iphone6
        left: auto
        right: 0
        width: 120px
        height: 184px

      @media (min-width: 480px)
        top: 86px
        bottom: auto
        left: 58%
        right: auto
        width: 190px
        height: 290px

      ^[0].is-not-feed &
        @media $mq.notMobile
          top: 115px
          left: auto
          right: 0
          width: 254px
          height: 390px

        @media $mq.desktop
          right: 140px

    &__inner
      position: relative
      z-index: 1
      width: 450px
      max-width: 100%

    &__title
      font-size: 35px
      font-weight: 500
      line-height: 1

      & > span
        color: colors.main
        font-weight: 900

      ^[0].is-not-feed &
        @media $mq.notMobile
          font-size: 55px

    &__text
      width: 225px
      margin-top: 30px
      font-size: 20px

      ^[0].is-not-feed &
        @media $mq.notMobile
          width: auto
          font-size: 25px

    &__btn
      position: relative
      display: inline-block
      margin-top: 40px
      cursor: pointer
      transition: opacity .2s

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: calc(100% + 18px)
        height: calc(100% + 18px)
        background: linear-gradient(90deg, #fff 6px, transparent 0) right top,
                    linear-gradient(#fff 6px, transparent 0) right top,
                    linear-gradient(#fff 6px, #fff 6px) right top,
                    linear-gradient(#fff 6px, #fff 6px) left bottom,
                    #000
        background-size: 9px 9px, 9px 9px, 9px 9px, 9px 9px
        background-repeat: repeat, repeat, no-repeat, no-repeat

      & > button
        position: relative
        z-index: 1
        width: 160px
        height: 55px
        color: #fff
        font-size: 17px
        font-weight: 500
        border: none
        background-color: colors.main

  &__question
    position: relative
    width: 280px
    padding-top: 10px
    padding-bottom: 80px

    @media $mq.iphone6
      width: 320px
      margin: 0 auto
      padding-top: 30px
      padding-bottom: 100px

    @media (min-width: 480px)
      width: auto
      margin: 0

    @media $mq.notMobile
      padding-bottom: 0

    ^[0].is-not-feed &
      @media $mq.desktop
        padding-top: 60px

  &__option
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 45px
    height: 45px
    margin: auto
    color: colors.main
    user-select: none
    cursor: pointer
    transition: color .4s, opacity .2s

    @media $mq.iphone6
      width: 60px
      height: 60px

    &:hover
      opacity: .6

      @media $mq.notHover
        opacity: 1

    ^[0].is-answered &
      opacity: 1
      cursor: default

    & > svg
      width: 45px
      height: 45px

      @media $mq.iphone6
        width: 60px
        height: 60px

      & [data-type="face"]
        transition: transform .4s

    & > span
      position: absolute
      top: 100%
      left: 50%
      padding-top: 5px
      font-size: 16px
      transform: translate3d(-50%, 0, 0)

      @media $mq.iphone6
        padding-top: 10px
        font-size: 18px

    &--left
      transform: translate3d(-50px, 0, 0)

      @media $mq.notMobile
        top: 0
        transform: translate3d(-260px, 0, 0)

      ^[0].is-not-feed &
        @media $mq.desktop
          transform: translate3d(-350px, 0, 0)

      ^[0][data-dir="left"] &
        color: #000

        & [data-type="face"]
          transform: translate3d(0,-4px,0)

          @media $mq.notMobile
            transform: translate3d(3px,-2px,0)

    &--right
      transform: translate3d(50px, 0, 0)

      @media $mq.notMobile
        top: 0
        transform: translate3d(260px, 0, 0)

      ^[0].is-not-feed &
        @media $mq.desktop
          transform: translate3d(350px, 0, 0)

      ^[0][data-dir="right"] &
        color: #000

        & [data-type="face"]
          transform: translate3d(0,-4px,0)

          @media $mq.notMobile
            transform: translate3d(-3px,-2px,0)

  &__option-hint
    position: absolute
    top: calc(100% + 50px)
    left: 50%
    display: flex
    align-items: center
    color: #000
    transform: translate3d(-50%, 0, 0)

    ^[0].is-feed &
      flex-direction: column

    & > svg
      width: 34px
      height: 36px
      margin: 0 auto

    & > div
      width: 120px
      font-size: 14px
      line-height: 16px
      text-align: center

      ^[0].is-feed &
        order: 1

  &__cards
    position: relative
    z-index: 3
    width: 350px
    max-width: 100%
    height: 320px
    margin: 0 auto

    &::before
      content: ''
      position: absolute
      top: 12px
      left: 18px
      width: 100%
      height: calc(100% + 16px)
      background: linear-gradient(90deg, #fff 6px, transparent 0) right top,
                  linear-gradient(#fff 6px, transparent 0) right top,
                  linear-gradient(#fff 6px, #fff 6px) right top,
                  linear-gradient(#fff 6px, #fff 6px) left bottom,
                  linear-gradient(#fff 6px, #fff 6px) right bottom,
                  linear-gradient(#fff 6px, #fff 6px) right bottom,
                  linear-gradient(#fff 6px, #fff 6px) right bottom,
                  #000
      background-size: 9px 9px, 9px 9px, 9px 9px, 9px 9px, 18px 18px, 27px 9px, 9px 27px
      background-repeat: repeat, repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat

      ^[0].is-correct &
        background-color: colors.correct

      ^[0].is-incorrect &
        background-color: colors.incorrect

    @media $mq.iphone6
      height: 380px

    @media (min-width: 568px)
      height: 480px

  &__next-cards
    position: absolute
    z-index: 1
    top: 100%
    left: 0
    right: 0

    & > div
      position: absolute
      left: 0
      right: 0
      margin: 0 auto
      width: 100%
      height: 320px
      border-radius: 15px
      background-color: colors.main
      box-shadow: 0 3px 3px rgba(0,0,0,.1)
      transform-origin : 50% 100%
      overflow: hidden

      @media $mq.iphone6
        height: 380px

      @media (min-width: 568px)
        height: 480px

      &:nth-child(1)
        z-index: 4
        bottom: 0
        background-color: #003cb3
        box-shadow: none

        ^[0].is-correct &
          background-color: #008209

        ^[0].is-incorrect &
          background-color: #b2223f

      &:nth-child(2)
        z-index: 3
        bottom: -5px
        background-color: #003cb3
        transform: scale(.96)

        ^[0].is-correct &
          background-color: #008209

        ^[0].is-incorrect &
          background-color: #b2223f

      &:nth-child(3)
        z-index: 2
        bottom: -10px
        background-color: #000
        transform: scale(.92)

  &__card-wrapper
    position: relative
    z-index: 2
    user-select: none
    transform: translate3d(0,0,0)
    perspective: 1000px

  &__card-inner
    position: relative
    width: 100%
    height: 320px
    transform-style: preserve-3d
    transform: translate3d(0,0,0)
    transition: transform .6s linear
    will-change: transform
    cursor: grab

    @media $mq.iphone6
      height: 380px

    @media (min-width: 568px)
      height: 480px

  &-card
    position: absolute
    z-index: 1
    top: 0
    left: 0
    right: 0
    height: 320px
    padding: 16px 10px 32px
    border: 5px solid colors.main
    border-radius: 15px
    background-color: #fff
    user-select: none
    backface-visibility: visible
    transform: translate3d(0,0,0)
    transition: background-color .2s

    @media $mq.iphone6
      height: 380px
      padding: 26px 20px 42px
      border-width: 10px

    @media (min-width: 568px)
      height: 480px

    &::after
      content: ''
      position: absolute
      top: 24px
      right: 20px
      width: 18px
      height: 18px
      background-color: colors.main
      transform: rotate(45deg)

      @media $mq.iphone6
        top: 34px

    ^[0].is-answered &
      backface-visibility: hidden

    [data-opacity] &
      background-color: rgba(255,255,255,.5)

    [data-opacity="0"] &
      background-color: #fff

    [data-opacity="10"] &
      background-color: rgba(255,255,255,.9)

    [data-opacity="20"] &
      background-color: rgba(255,255,255,.8)

    [data-opacity="30"] &
      background-color: rgba(255,255,255,.7)

    [data-opacity="40"] &
      background-color: rgba(255,255,255,.6)

    &--back
      display: flex
      box-shadow: none
      transform: translate3d(0,0,0) rotateY(180deg)
      backface-visibility: hidden
      cursor: default

      ^[0].is-answered &
        backface-visibility: visible

      ^[0].is-correct &
        border-color: colors.correct

      ^[0].is-incorrect &
        border-color: colors.incorrect

    &__title
      position: relative
      transform: translate3d(0,0,0)

      & > div:nth-child(1)
        font-size: 28px
        font-weight: 700

      & > div:nth-child(2)
        font-size: 12px
        font-weight: 700
        text-transform: uppercase

        @media $mq.iphone6
          margin-top: 12px

    &__img
      margin-top: 10px
      transform: translate3d(0,0,0)

      @media $mq.iphone6
        margin-top: 16px

      & > div
        position: relative
        margin: 0 auto

        &::before
          content ''
          display: block
          padding-top: 56%

          @media (min-width: 568px)
            padding-top: 81%

        & > svg
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%

          &:nth-child(1)
            fill: blue
            animation: wavesPictureAnim1 4.5s infinite

          &:nth-child(2)
            fill: red
            animation: wavesPictureAnim2 4.3s .2s infinite

          &:nth-child(3)
            fill: red
            clip: rect(0, 0, 0, 0)
            animation: wavesPictureAnim3 4.5s steps(1) infinite

          &:nth-child(4)
            fill: blue
            clip: rect(0, 0, 0, 0)
            animation: wavesPictureAnim4 4.3s .2s steps(1) infinite

        &[data-index="6"]::before
        &[data-index="7"]::before
          padding-top: 47%

          @media (min-width: 568px)
            padding-top: 68%

    &__text
      margin-top: 10px
      font-size: 20px
      font-weight: 700
      line-height: 1.143em
      transform: translate3d(0,0,0)

      @media $mq.iphone6
        font-size: 24px

      @media $mq.notMobile
        font-size: 28px

    &__bottom
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: 100%
      display: flex
      justify-content: space-between
      align-items: flex-end
      padding: 0 10px 10px
      transform: translate3d(0,0,0)

      @media $mq.iphone6
        padding: 0 20px 10px

      @media (min-width: 568px)
        padding: 0 20px 20px

    &__copy
      margin-bottom: 1px
      font-size: 10px
      text-transform: uppercase
      transform: translate3d(0,0,0)

      & > span
        margin-right: 6px


      @media (min-width: 568px)
        font-size: 11px

        & > span
          margin-right: 16px

    &__pages
      color: colors.main
      font-size: 14px
      font-weight: 900
      transform: translate3d(0,0,0)

      & > span
        font-size: 16px

    &__answer
      position: relative
      height: 100%
      transform: translate3d(0,0,0)

    &__answer-title
      font-size: 28px
      font-weight: 700
      transform: translate3d(0,0,0)

      @media $mq.iphone6
        font-size: 32px

      ^[0].is-correct &
        color: colors.correct

      ^[0].is-incorrect &
        color: colors.incorrect

    &__answer-text
      margin-top: 24px
      font-size: 18px
      font-weight: 500
      transform: translate3d(0,0,0)

      @media $mq.iphone6
        font-size: 20px

      @media (min-width: 568px)
        margin-top: 40px

      & a
        color: colors.main !important
        border-bottom: 1px solid colors.main !important

        &:hover
          opacity: .6

          @media $mq.notHover
            opacity: 1

    &__answer-next-btn
      position: absolute
      bottom: 0
      left: 0
      width: 176px
      height: 54px
      padding: 0
      margin: 0 !important
      color: #fff
      background-color: colors.main
      border: none !important
      box-shadow: none
      transition: opacity .2s

      @media $mq.iphone6
        bottom: -20px

      @media (min-width: 568px)
        bottom: 30px

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

      & > span
        position: relative
        padding-right: 40px

        & > svg
          position: absolute
          top: 0
          bottom: 0
          right: 0
          margin: auto 0
          width: 30px
          height: 11px

  &-final
    display: flex

    @media $mq.mobile
      flex-direction: column

    ^[0].is-not-feed &
      @media $mq.desktop
        min-height: 610px

    &__main
      padding: 20px 15px
      background-color: colors.main

      @media $mq.iphone6
        padding-top: 30px

      ^[0].is-not-feed &
        @media $mq.notMobile
          flex-shrink: 0
          width: 43.4%
          padding: 45px 25px 20px

        @media (min-width: 812px)
          padding: 85px 60px 40px

        @media $mq.desktop
          padding: 115px 80px 20px

    &__img
      width: 290px
      max-width: 100%
      color: #fff

      & > svg
        width: 100%
        height: auto

    &__result
      margin-top: 25px
      color: #fff

      @media $mq.iphone6
        margin-top: 35px

      ^[0].is-not-feed &
        @media $mq.desktop
          margin-top: 50px
          font-size: 20px

    &__title
      margin-top: 8px
      color: #fff
      font-size: 22px
      font-weight: 700
      line-height: 1.167em

      @media $mq.iphone6
        margin-top: 18px

      ^[0].is-not-feed &
        @media $mq.desktop
          margin-top: 26px
          font-size: 30px

    &__share
      min-height: 44px
      margin-top: 16px

      @media $mq.iphone6
        min-height: 54px
        margin-top: 26px

      ^[0].is-not-feed &
        @media $mq.desktop
          margin-top: 38px

    &__restart
      display: flex
      justify-content: center
      align-items: center
      margin-top: 18px

      @media $mq.iphone6
        margin-top: 28px

      ^[0].is-not-feed &
        @media $mq.desktop
          margin-top: 40px

    &__restart-btn
      position: relative
      color: #fff
      cursor: pointer
      padding-right: 28px
      transition: opacity .2s

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

      & > svg
        position: absolute
        top: 0
        right: 0
        width: 18px

    &__extra
      position: relative
      padding: 20px 15px

      @media $mq.iphone6
        padding-top: 30px

      ^[0].is-not-feed &
        @media $mq.notMobile
          padding: 68px 25px 20px

        @media (min-width: 812px)
          padding: 108px 60px 40px

        @media $mq.desktop
          padding: 138px 80px 20px

    &__logo
      width: 140px
      height: 30px

      & > svg
        width: 100%
        height: 100%

    &__text
      margin-top: 12px
      font-size: 22px

      @media $mq.iphone6
        margin-top: 22px

      ^[0].is-not-feed &
        @media $mq.desktop
          margin-top: 30px
          font-size: 30px

    &__btn
      display: block
      width: 182px
      height: 55px
      margin-top: 18px
      color: #fff
      font-weight: 500
      line-height: 53px
      text-align: center
      background-color: colors.main
      transition: opacity .2s

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

      @media $mq.iphone6
        margin-top: 28px

      ^[0].is-not-feed &
        @media $mq.desktop
          margin-top: 40px

  &-help
    position: absolute
    z-index: 99
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba(0,0,0,.8);

    &__inner
      display: flex
      flex-direction: column
      align-items: center
      max-width: 220px

    &__icon
      color: #fff
      width: 46px
      height: 50px

      & svg
        width: 100%
        height: 100%

    &__text
      width: 100%
      margin-top: 20px
      color: #fff
      font-weight: 500
      line-height: 1.3em

    &__btn
      width: 190px
      height: 55px
      padding: 0
      margin-top: 34px
      color: #fff
      font-weight: 500
      border: none
      border-radius: 0
      background-color: colors.main

  .likely
    &--custom
      display: flex

    &__widget
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: center
      min-width: 54px
      height: 44px
      color: colors.main
      border: none
      background-color: #fff
      cursor: pointer

      @media $mq.iphone6
        height: 54px

      &:not(:last-child)
        margin-right: 5px

      &:hover
        opacity: .6

        @media $mq.notHover
          opacity: 1

      &--facebook
        padding: 0 20px 0 8px

        @media (min-width: 680px) and (max-width: 1024px)
          padding: 0

        @media $mq.desktop
          min-width: 180px

    &__counter
      display: none

    &__icon
      background-color: transparent

      & svg
        display: block
        width: 24px
        height: @width
        fill: currentColor

      &--vkontakte
        & svg
          width: 28px
          height: @width

      &--facebook
        margin-right: 6px

        @media (min-width: 680px) and (max-width: 1024px)
          margin-right: 0

    &__button
      display: block
      line-height: 1

      @media (min-width: 680px) and (max-width: 1024px)
        display: none
